@import "tailwindcss";

@theme {
  --color-brand-blue: #1E3A8A;
  --color-brand-light-blue: #0099FF;
  --color-brand-gray: #374151;
  --color-brand-silver: #9CA3AF;
  --color-brand-orange: #F97316;

  --font-headline: var(--font-bebas);
  --font-body: var(--font-open-sans);
}

